</div>
<footer class="footer-container">
  <div class="footer-links--container">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="/welcome" class="nav-link px-2 text-body-secondary">Home</a></li>
      <li class="nav-item"><a href="/aboutus" class="nav-link px-2 text-body-secondary">About Us</a></li>
      <li class="nav-item"><a href="/contactus" class="nav-link px-2 text-body-secondary">Contact Us</a></li>
    </ul>
  </div>
  <div>
    <p class="text-center text-body-secondary">© 2025, PlanIt</p>
  </div>
</footer>
<script defer="" src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"></script></body>
</body>
</html>